*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Quattrocento Sans', sans-serif;
}
body{
  background-color: black;
  max-width: 1550px;
  margin: 0 auto;
}
h1,h2,h3 {
  font-family: 'Oswald', sans-serif;
}

